._1fcheidenheim1846 {
	color: rgb(226,0,26);
}

._1fckoln {
	color: rgb(237,28,36);
}

.aalborgbk {
	color: rgb(255,0,0);
}

.aberdeenfc {
	color: rgb(255,0,0);
}

.acomonia {
	color: rgb(0,128,0);
}

.acffiorentina {
	color: rgb(72,46,146);
}

.acspartapraha {
	color: rgb(153,31,51);
}

.afcajax {
	color: rgb(255,0,0);
}

.aik {
	color: rgb(23,54,93);
}

.ajauxerre {
	color: rgb(51,102,255);
}

.anorthosisfamagustafc {
	color: rgb(0,0,255);
}

.apoelfc {
	color: rgb(0,70,144);
	text-shadow: -1px 0 rgb(254,213,71), 0 1px rgb(254,213,71), 1px 0 rgb(254,213,71), 0 -1px rgb(254,213,71);
}

.arsenalfc {
	color: rgb(255,0,0);
}

.asjeunesseesch {
	color: rgb(0,0,0);
}

.asroma {
	color: rgb(232,83,20);
}

.astonvillafc {
	color: rgb(103,14,54);
}

.athleticclub{
	color: rgb(255,0,0);
}

.bayer04leverkusen {
	color: rgb(236,28,36);
}

.bolognafc1909 {
	color: rgb(26,47,72);
}

.brondbyif {
	color: rgb(23,54,93);
}

.bscyoungboys {
	color: rgb(0,0,0);
	text-shadow: -1px 0 rgb(249,204,17), 0 1px rgb(249,204,17), 1px 0 rgb(249,204,17), 0 -1px rgb(249,204,17);
}

.bsgsachsenringzwickau {
	color: rgb(255,0,0);
}

.budapesthonvedfc {
	color: rgb(255,0,0);
}

.celticfc {
	color: rgb(1,135,73);
}

.cerclebruggeksv {
	color: rgb(0,160,112);
}

.chelseafc {
	color: rgb(3,70,148);
}

.clubatleticodemadrid {
	color: rgb(255,0,0);
}

.clubbruggekv {
	color: rgb(0,0,255);
}

.djurgarden {
	color: rgb(52,65,110);
}

.estorilpraia {
	color: rgb(51,102,255);
	text-shadow: -1px 0 rgb(224,224,0), 0 1px rgb(224,224,0), 1px 0 rgb(224,224,0), 0 -1px rgb(224,224,0);
}

.evertonfc {
	color: rgb(0,79,158);
}

.fcargespitesti {
	color: rgb(128,0,128);
}

.fcastana {
	color: rgb(109,186,240);
	text-shadow: -1px 0 rgb(237,229,40), 0 1px rgb(237,229,40), 1px 0 rgb(237,229,40), 0 -1px rgb(237,229,40);
}

.fcbarcelona {
	color: rgb(0,85,165);
}

.fcbasel1893 {
	color: rgb(240,0,40);
}

.fcbayernmunchen {
	color: rgb(255,0,0);
}

.fcdinamobucuresti {
	color: rgb(153,51,102);
}

.fcdinamoMinsk {
	color: rgb(31,119,180);
}

.fcdinamomoskva {
	color: rgb(0,0,255);
}

.fcdinamotbilisi {
	color: rgb(0,0,255);
}

.fcdynamokyiv {
	color: rgb(51,102,255);
}

.fcelectroputerecraiova {
	color: rgb(128,0,128);
}

.fchradeckralove {
	color: rgb(0,0,0);
}

.fcinternazionalemilano {
	color: rgb(0,0,255);
}

.fckobenhavn {
	color: rgb(2,63,136);
}

.fclokomotivmoskva {
	color: rgb(255,0,0);
}

.fclugano {
	color: rgb(0,0,0);
}

.fcmetalurhzaporizhya {
	color: rgb(0,0,0);
}

.fcmidtjylland {
	color: rgb(255,0,0);
}

.fcmolenbeekbrusselsstrombeek {
	color: rgb(0,0,0);
	text-shadow: -1px 0 rgb(192,192,192), 0 1px rgb(192,192,192), 1px 0 rgb(192,192,192), 0 -1px rgb(192,192,192);
}

.fcnantes {
	color: rgb(60,177,96);
	text-shadow: -1px 0 rgb(237,225,47), 0 1px rgb(237,225,47), 1px 0 rgb(237,225,47), 0 -1px rgb(237,225,47);
}

.fcnoah {
	color: rgb(0,0,0);
}

.fcpetrocub {
	color: rgb(0,0,0);
}

.fcporto {
	color: rgb(0,0,255);
}

.fcrapidbucuresti {
	color: rgb(102,0,51);
}

.fcrubinkazan {
	color: rgb(153,51,102);
}

.fcshakhtardonetsk {
	color: rgb(240,115,40);
}

.fcstgallen1879 {
	color: rgb(40,134,70);
}

.fcschalke04 {
	color: rgb(51,102,255);
}

.fcslovanliberec {
	color: rgb(0,0,255);
}

.fcsalzburg {
	color: rgb(228,8,69);
}

.fcsteauabucuresti {
	color: rgb(255,0,0);
}

.fcutrecht {
	color: rgb(237,26,47);
}

.fcviktoriaplzen {
	color: rgb(228,29,18);
}

.fcvorwartsberlin {
	color: rgb(255,0,0);
	text-shadow: -1px 0 rgb(255,231,111), 0 1px rgb(255,231,111), 1px 0 rgb(255,231,111), 0 -1px rgb(255,231,111);
}

.fenerbahcesk {
	color: rgb(0,65,127);
	text-shadow: -1px 0 rgb(255,237,0), 0 1px rgb(255,237,0), 1px 0 rgb(255,237,0), 0 -1px rgb(255,237,0);
}

.ferencvarositc {
	color: rgb(0,128,0);
}

.feyenoord {
	color: rgb(255,0,0);
}

.fkaustriawien {
	color: rgb(70,61,140);
}

.fkborac {
	color: rgb(217,55,48);
}

.fkcrvenazvezda {
	color: rgb(235,25,38);
}

.fkmladaboleslav {
	color: rgb(0,0,255);
}

.fktsc {
	color: rgb(34,94,115);
}

.florianafc {
	color: rgb(0,128,0);
}

.framreykjavik{
	color: rgb(51,102,255);
}

.galatasarayas {
	color: rgb(255,153,0);
}

.glentoranfc {
	color: rgb(30,116,57);
}

.gnkdinamo {
	color: rgb(0,73,154);
}

.goaheadeagles {
	color: rgb(193,2,48);
	text-shadow: -1px 0 rgb(255,214,0), 0 1px rgb(255,214,0), 1px 0 rgb(255,214,0), 0 -1px rgb(255,214,0);
}

.grasshopperclub {
	color: rgb(51,102,255);
}

.grazerak {
	color: rgb(0,0,0);
}

.hamburgersv {
	color: rgb(51,102,255);
}

.hapoeltel-avivfc {
	color: rgb(255,0,0);
}

.heartofmidlothianfc {
	color: rgb(159,25,49);
}

.hjkhelsinki {
	color: rgb(0,70,154);
}

.hnkhajduksplit {
	color: rgb(51,102,255);
}

.ifkgoteborg {
	color: rgb(0,0,255);
}

.istanbulbasaksehirfk {
	color: rgb(253,80,1);
}

.jagielloniabialystok {
	color: rgb(217,18,27);
	text-shadow: -1px 0 rgb(255,242,0), 0 1px rgb(255,242,0), 1px 0 rgb(255,242,0), 0 -1px rgb(255,242,0);
}

.juventus {
	color: rgb(0,0,0);
}

.kaagent {
	color: rgb(0,71,148);
}

.krcgenk {
	color: rgb(2,77,157);
}

.kkslechpoznan {
	color: rgb(51,102,255);
}

.kspoloniabytom {
	color: rgb(0,0,255);
}

.ksppoloniawarszawa {
	color: rgb(255,0,0);
}

.larnefc {
	color: rgb(205,22,24);
}

.lask {
	color: rgb(0,0,0);
	text-shadow: -1px 0 rgb(192,192,192), 0 1px rgb(192,192,192), 1px 0 rgb(192,192,192), 0 -1px rgb(192,192,192);
}

.legiawarszawa {
	color: rgb(0,134,53);
}

.linfieldfc {
	color: rgb(0,0,255);
}

.liverpoolfc {
	color: rgb(255,0,0);
}

.losclille {
	color: rgb(224, 30, 19);
}

.maccabihaifafc {
	color: rgb(0,118,56);
}

.maccabitelavivfc {
	color: rgb(51,102,255);
	text-shadow: -1px 0 rgb(204,204,0), 0 1px rgb(204,204,0), 1px 0 rgb(204,204,0), 0 -1px rgb(204,204,0);
}

.malagacf {
	color: rgb(51,102,255);
}

.malmoff {
	color: rgb(0,142,203);
}

.manchesterunitedfc {
	color: rgb(255,0,0);
}

.mfkpetrzalka {
	color: rgb(0,0,0);
}

.moldefk {
	color: rgb(0,104,176);
}

.motherwellfc {
	color: rgb(124,21,44);
}

.ndgorica {
	color: rgb(51,102,255);
}

.nkcelje {
	color: rgb(44,76,117);
}

.nkmaribor {
	color: rgb(0,0,128);
}

.nkolimpijaljubljana {
	color: rgb(0,144,54);
}

.nottinghamforestfc {
	color: rgb(221,0,0);
}

.odensebk {
	color: rgb(51,102,255);
}

.ofkbeograd {
	color: rgb(51,102,255);
}

.ogcnice {
	color: rgb(237,28,36);
}

.olympiquedemarseille {
	color: rgb(0,152,216);
}

.olympiquelyonnais {
	color: rgb(218,8,18);
}

.pafosfc {
	color: rgb(108,171,221);
}

.panathinaikos {
	color: rgb(0,128,0);
}

.paokfc {
	color: rgb(0,0,0);
}

.parissaint-germainfc {
	color: rgb(0,0,255);
}

.pfcbotevplovdiv {
	color: rgb(0,0,0);
	text-shadow: -1px 0 rgb(255,203,5), 0 1px rgb(255,203,5), 1px 0 rgb(255,203,5), 0 -1px rgb(255,203,5);
}

.pfccskasofia {
	color: rgb(255,0,0);
}

.pfclitexlovech {
	color: rgb(255,153,0);
}

.pfcludogorets1945 {
	color: rgb(5,103,56);
}

.pfcpirinblagoevgrad {
	color: rgb(51,153,102);
}

.psveindhoven {
	color: rgb(255,0,0);
}

.qabalafk {
	color: rgb(255,0,0);
}

.rangersfc {
	color: rgb(0,0,255);
}

.realbetisbalompie {
	color: rgb(11,179,99);
}

.rcdeportivolacoruna {
	color: rgb(51,51,153);
}

.rclens {
	color: rgb(255,0,0);
	text-shadow: -1px 0 rgb(255,231,111), 0 1px rgb(255,231,111), 1px 0 rgb(255,231,111), 0 -1px rgb(255,231,111);
}

.realmadridcf {
	color: rgb(0,0,0);
	text-shadow: -1px 0 rgb(192,192,192), 0 1px rgb(192,192,192), 1px 0 rgb(192,192,192), 0 -1px rgb(192,192,192);
}

.rcceltadevigo {
	color: rgb(84,141,212);
}

.rcdmallorca {
	color: rgb(255,0,0);
}

.rosenborgbk {
	color: rgb(0,0,0);
}

.rscanderlecht {
	color: rgb(128,0,128);
}

.rstandarddeliege {
	color: rgb(255,0,0);
}

.samsunsporfk {
	color: rgb(255,0,0);
}

.scbraga {
	color: rgb(201,39,26);
}

.scdnipro-1 {
	color: rgb(0,0,85);
}

.scfreiburg {
	color: rgb(253,18,32);
}

.sevillafc {
	color: rgb(255,0,0);
}

.shamrockroversfc {
	color: rgb(25,147,62);
}

.shelbourne {
	color: rgb(255,0,0);
}

.skbrann {
	color: rgb(255,0,0);
}

.skslaviapraha {
	color: rgb(255,0,0);
}

.skslovanbratislava {
	color: rgb(0,204,255);
}

.skrapid {
	color: rgb(0,117,74);
}

.skssturmgraz {
	color: rgb(0,0,0);
}

.ssliemawanderersfc {
	color: rgb(51,102,255);
}

.sslazio {
	color: rgb(51,102,255);
}

.staderennaisfc {
	color: rgb(225,47,41);	
}

.svwerderbremen {
	color: rgb(0,128,0);
}

.swanseacityafc {
	color: rgb(0,0,0);
}

.thenewsaintsfc {
	color: rgb(53,163,78);
}

.torino {
	color: rgb(153,51,102);
}

.tottenhamhotspurfc {
	color: rgb(0,0,255);
}

.udinesecalcio {
	color: rgb(0,0,0);
}

.ucsampdoria {
	color: rgb(51,102,255);
}

.valenciacf {
	color: rgb(0,0,0);
}

.vfbstuttgart {
	color: rgb(255,0,0);
}

.vikingurreykjavik {
	color: rgb(0,0,0);
}

.villarrealcf {
	color: rgb(0,81,134);
	text-shadow: -1px 0 rgb(255,231,111), 0 1px rgb(255,231,111), 1px 0 rgb(255,231,111), 0 -1px rgb(255,231,111);
}

.vitoriasc {
	color: rgb(0,0,0);
	text-shadow: -1px 0 rgb(192,192,192), 0 1px rgb(192,192,192), 1px 0 rgb(192,192,192), 0 -1px rgb(192,192,192);
}

.wislakrakow {
	color: rgb(255,0,0);
}